<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzpq.blog.mapper.LoginMapper">

    <resultMap id="userMap" type="userInfo">
        <id property="id" column="id"></id>
        <result property="nickName" column="nickName"></result>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="avater" column="avater"></result>
        <result property="type" column="type"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <collection property="roles" ofType="role">
            <id property="id" column="rid"></id>
            <result property="roleName" column="roleName"></result>
        </collection>
    </resultMap>

    <select id="findByUsername" parameterType="String" resultMap="userMap">
         SELECT u.*,r.id AS rid ,r.roleName
         FROM t_user u
         LEFT JOIN t_user_role ur
         ON u.id = ur.uid
         LEFT JOIN t_role r
         ON r.id = ur.rid
         WHERE u.username = #{username}
    </select>

</mapper>